.home-middle-container {
  flex-basis: 785px;
  padding: 1rem 10rem 0;
  position: relative;
  z-index: 1;
  .home-middle {
    margin: auto;
    @media screen and (max-width: 1200px) {
      max-width: 500px;
    }
  }

  @media screen and (max-width: 882px) {
    max-width: 600px;
    padding: unset;
  }
}