.popup-create-post-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .popup-blur {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .popup-create-post {
    max-width: 500px;
    width: 500px;
    background-color: #fff;
    z-index: 2;
    border-radius: 1rem;
  }
}
