.message-item-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  .message-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    .message-text {
      word-break: break-all;
    }
    .message-previewed {
      background-color: #000;
      min-width: 15px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      align-self: flex-end;
      margin-left: 10px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .message-user {
      background-color: #000;
      min-width: 30px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      align-self: flex-end;
      margin-right: 10px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .message-text {
      padding: 5px 10px;
      border-radius: 10px;
      line-height: 20px;
    }
  }
  .message-images {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    width: 60%;
    .image-item {
      border-radius: 0.5rem;
      overflow: hidden;
      margin-top: 1rem;
      img {
        width: 100%;
      }
    }
  }

  &.message-owner{
    align-items: flex-end;
    .message-item {
      .message-text {
        flex-grow: 1;
        background-color: #0084ff;
        color: #fff;
        width: 100%;
      }
    }
    .message-images {
      width: 60%;
    }
  }
  &.message-friend {
    align-items: flex-start;
    .message-item {
      .message-text {
        flex-grow: 1;
        width: 100%;
        background-color: #e4e6eb;
      }
    }
    .message-images {
      margin-left: 4rem;
      align-self: flex-start;
    }
  }
}