.comment-container {
  margin-top: 1rem;
  .comment {
    .comment-block {
      display: flex;
      position: relative;
      .comment-tree {
        position: absolute;
        top: 40px;
        left: 20px;
        width: 2px;
        height: 55px;
        background: #f0f2f5;
      }
      .comment-tree-end {
        position: absolute;
        top: 95px;
        left: 20px;
        width: 20px;
        height: 20px;
        border-left: 2px solid #f0f2f5;
        border-bottom: 2px solid #f0f2f5;
        border-bottom-left-radius: 10px;
      }
      .comment-tree-item {
        position: absolute;
        top: 40px;
        left: 20px;
        width: 2px;
        height: 100%;
        background: #f0f2f5;
      }
      .comment-user {
        min-width: 40px;
        width: 40px;
        height: 40px;
        background-color: #e4e6eb;
        border-radius: 50%;
      }
      .comment-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .comment-text {
          background-color: #f0f2f5;
          padding: .6rem;
          border-radius: 1.2rem;
          margin-left: .5rem;
          display: flex;
          flex-direction: column;
          position: relative;
          align-self: flex-start;
          .comment-name {
            font-weight: 600;
          }
          .comment-message {
            
          }
          .comment-emotion {
            position: absolute;
            bottom: -10px;
            right: 0;
            background-color: #fff;
            border-radius: 1.4rem;
            font-size: 1.4rem;
            cursor: pointer;
          }
        }
        .comment-extension {
          margin-left: .5rem;
          margin-top: .5rem;
          font-size: 1.2rem;
          font-weight: 600;
          .extension {
            margin-left: 1rem;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .like {
            margin-left: 0;
          }
          .response {
            
          }
          .hours {
            color: #65676b;
          }
        }
        .comment-editable-container {
          .create-comment-container {
            .create-comment {
              .comment-icon {
                min-width: 30px;
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}