.popup-typing {
  display: flex;
  flex-direction: column;
  .popup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .header-title {
      flex-grow: 1;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    .header-close {
      cursor: pointer;
    }
  }
  .popup-content {
    padding: 1.5rem;
    .popup-user {
      display: flex;
      align-items: center;
      .user-icon {
        min-width: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #e4e6eb;
      }
      .user-info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        font-weight: 500;
        .user-name {
          font-size: 1.5rem;
          line-height: 1;
        }
        .user-shared {
          font-size: 1.3rem;
          cursor: pointer;
          background-color: #e4e6eb;
          align-self: flex-start;
          padding: 0.3rem 1rem;
          line-height: 1;
          margin-top: 0.5rem;
          border-radius: 0.5rem;
        }
      }
    }
    .content-control {
      margin-top: 1rem;
      .typing-container {
        padding-bottom: 4rem;
        .typing-text {
          padding: 1rem 0;
          line-height: 1;
          word-break: break-all;
          max-height: 100px;
          overflow-y: auto;
          overscroll-behavior-y: contain;
          cursor: text;
          font-size: 20px;
          &[placeholder]:empty::before {
            content: attr(placeholder);
            color: #555;
            font-size: 20px;
          }
          &[placeholder]:empty:focus::before {
            content: "";
          }
          &:focus {
            border: unset;
            outline: unset;
            box-shadow: unset;
          }
        }
      }
      .control-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 2rem;
        .control-item {
          cursor: pointer;
        }
      }
      .control-post {
        text-align: center;
        padding: 1rem;
        background-color: #1b74e4;
        color: #fff;
        line-height: 1;
        border-radius: 1rem;
        cursor: pointer;
        font-weight: 500;
        &:hover {
          background-color: #0661d4;
        }
      }
    }
  }
}
