.popup-typing {
  display: flex;
  flex-direction: column;
  .popup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .header-title {
      flex-grow: 1;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    .header-close {
      color: #716e6e;
      font-size: 1.8rem;
      width: 30px;
      height: 30px;
      background-color: #e4e6eb;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color .1s ease-in-out;
      &:hover {
        background-color: #d5d5d5;
      }
    }
  }
  .popup-content {
    padding: 1.5rem;
    .popup-user {
      display: flex;
      align-items: center;
      .user-icon {
        min-width: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #e4e6eb;
      }
      .user-info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        font-weight: 500;
        .user-name {
          font-size: 1.5rem;
          line-height: 1;
        }
        .user-shared {
          font-size: 1.3rem;
          cursor: pointer;
          background-color: #e4e6eb;
          align-self: flex-start;
          padding: 0.3rem 1rem;
          line-height: 1;
          margin-top: 0.5rem;
          border-radius: 0.5rem;
        }
      }
    }
    .content-control {
      margin-top: 1rem;
      overflow-y: auto;
      overscroll-behavior-y: contain;
      max-height: 420px;
      .typing-container {
        padding-bottom: 4rem;
        .typing-text {
          padding: 1rem 0;
          line-height: 1;
          word-break: break-all;
          max-height: 100px;
          overflow-y: auto;
          overscroll-behavior-y: contain;
          cursor: text;
          font-size: 20px;
          &[placeholder]:empty::before {
            content: attr(placeholder);
            color: #555;
            font-size: 20px;
          }
          &[placeholder]:empty:focus::before {
            content: "";
          }
          &:focus {
            border: unset;
            outline: unset;
            box-shadow: unset;
          }
        }
      }
      .typing-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        border-radius: 1.5rem;
        overflow: hidden;
        .image-item {
          display: inline-block;
          padding: .2rem;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .image-item-total {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
          }
          &.w-100{
            width: 100%;
          }
          &.w-50{
            width: 50%;
          }
          &.w-33{
            width: 33.33333%;
          }
          &.w-30{
            width: 30%;
          }
        }
        .images-remove {
          position: absolute;
          right: 25px;
          top: 25px;
          color: #716e6e;
          font-size: 1.8rem;
          width: 30px;
          height: 30px;
          background-color: #f1f1f1;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color .1s ease-in-out;
          &:hover {
            background-color: #d5d5d5;
          }
        }
        &.flex-column {
          flex-direction: column;
        }
        
        &.flex-row {
          flex-direction: row;
        }
      }

      &:hover {
        overflow-y: auto;
        &::-webkit-scrollbar-thumb {
          background-color: #ced0d4;
        }
      }

      // scroll
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: transparent;
      }
    }
    .control-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 2rem;
      .control-item {
        cursor: pointer;
      }
    }
    .control-post {
      text-align: center;
      padding: 1rem;
      background-color: #1b74e4;
      color: #fff;
      line-height: 1;
      border-radius: 1rem;
      cursor: pointer;
      font-weight: 500;
      margin-top: 2rem;
      width: 100%;
      border: unset;
      transition: backgorund-color .1s ease-in-out;
      &:hover {
        background-color: #0661d4;
      }
      &:disabled {
        background-color: #e4e6eb;
      }
    }
  }
}
