.app-friends {
  display: flex;
  height: calc(100vh - 53.4px);
  margin-top: 53.4px;
  .app-friends-list {
    width: 360px;
    min-width: 360px;
    .app-friends-list-container {
      position: fixed;
      top: 53.4px;
      border-right: 1px solid #b0b0b0;
      width: 360px;
    }
  }
  .app-friends-review {
    flex-grow: 1;
    .app-profile-container {
      margin-top: unset;
      .app-profile {
        .profile-container {
          @media screen and (max-width: 1270px) {
            flex-direction: column;
            align-items: center;
            .profile-body-left, .profile-body-right {
              width: 480px;
              position: unset;
              align-self: unset;
            }
            .profile-body-left {
              .profile-friends-conatiner {
                .friends-list {
                  .friends-item {
                    width: 21%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}