html, body {
  height: calc(100vh - 53.4px);
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5 !important;
}

#root {
  background-color: #f0f2f5;
}

.app-container {
  font-size: 1.5rem;
  .app-home {
    margin-top: 53.4px;
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 53.4px);
    @media screen and (max-width: 882px) {
      justify-content: center;
    }
  }
}