.create-comment-container {
  .create-comment {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: .5rem;
    margin-top: .8rem;
    .comment-icon {
      background-color: #cfcece;
      display: inline-block;
      border-radius: 50%;
      min-width: 40px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      align-self: flex-start;
      position: relative;
      .online {
        position: absolute;
        min-width: 11px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #31a24c;
        right: -1px;
        bottom: 0px;
        border: 2px solid #fff;
      }
    }
    .comment-create {
      background-color: #e4e6eb;
      padding: .8rem 1rem;
      border-radius: 2rem;
      width: 100%;
      margin-left: 0.5rem;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .comment-editable {
        display: inline-block;
        flex-grow: 1;
        cursor: text;
        word-break: break-word;
        &[placeholder]:empty:before {
          content: attr(placeholder);
          color: #555; 
        }
        &:focus-visible {
          border: unset;
          outline: unset;
          box-shadow: unset;
        }
      }
    }
    .comment-extension {
      align-self: flex-end;
      .comment-extension-item {
        margin-left: .7rem;
      }
    }
  }
}