.not-found-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15rem;
}